/* RESET */

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

ul[class],
ol[class]{
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
    list-style: none;
}
  
img {
    max-width: 100%;
    display: block;
}
  
input,
button,
textarea,
select {
    font: inherit;
}

a[class]{
    text-decoration: none;
}

body{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFE1C0;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex-grow: 1;
}

/* HEADER */




.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__contact-box {
    display: flex;
    flex-direction: column;
    margin-right: 23px;
}

.header__contact-phone {
    position: relative;
    color: #3F0E31;
    cursor: pointer;
    margin-bottom: 32px;
}

.header__contact-box .header__contact-mail {
    position: relative;
    color: #3F0E31;
    cursor: pointer;
    text-decoration: underline;
}

.header__contact-entrance {
    color: #3F0E31;
    cursor: pointer;
    font-size: 18px;
    line-height: 21px;
}

.header__contact-phone::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 20px;
    height: 20px;
    background-image: url(../images/phone.svg);
}

.header__contact-mail::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 28px;
    height: 20px;
    background-image: url(../images/mail.svg);
}

.menu {
    padding: 54px 0 52px;
    background-color: #FFC381;
}
.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item + .menu__item {
    margin-left: 55px;
}

.menu__link {
    font-size: 20px;
    line-height: 23px;
    color: #3F0E31;
}

.menu__link:hover {
    color: #B87EF1;
    transition: all .3s;
}

/* FIRST */

.first {
    padding: 100px 0;
}

.first__inner {
    display: flex;
    justify-content: space-between;
}

.first__content {
    max-width: 614px;
}

.first__text {
    font-size: 20px;
    line-height: 23px;
    color: #3F0E31;
}

.title__top {
    font-family: 'Balsamiq Sans', cursive; 
    font-size: 60px;
    line-height: 72px;
    color: #B87EF1;
    margin-top: 130px;
    margin-bottom: 20px;
}

/* ABOUT */

.about {
    padding: 20px 0 100px;
}

.title {
    font-family: 'Balsamiq Sans', cursive; 
    font-size: 60px;
    line-height: 72px;
    color: #B87EF1;
    margin-bottom: 84px;
}

.about__user {
    padding: 0 10px 20px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__img {
    margin-bottom: 15px;
    object-fit: cover;
}

.about__name {
    font-size: 18px;
    line-height: 21px;
    color: #3F0E31;
}

/* NEWS */

.news {
    padding: 73px 0 83px;
}

.news__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.news__item {
    display: flex;
    flex-direction: column; 
}

.news__box {
    margin-bottom: 20px;
    position: relative;
}

.news__img {
    width: 100%;
    object-fit: cover;
}

.news__desc {
    position: absolute;
    width: 100%;
    font-size: 18px;
    line-height: 150%;
    color: #3F0E31;
    right: 0;
    bottom: 0;
    padding: 11px 90px 10px 25px;
    background: rgba(184, 126, 241, 0.8);
}

.news__text {
    font-size: 18px;
    line-height: 150%;
    color: #3F0E31;
    margin-bottom: 15px;
    flex-grow: 1;
}

.news__link {
    font-size: 18px;
    line-height: 22px;
    color: #B87EF1;
    cursor: pointer;
}

.news__link:hover {
    color: #3F0E31;
    transition: all .3s;
}

/* NEWS-PAGE */

.breadcrumbs__inner {
    display: flex;
    padding: 70px 0 20px;
}

.breadcrumbs__list {
    display: flex;
    flex-wrap: wrap;
}
.breadcrumbs__item {
    color: #3F0E31;
}

.breadcrumbs__item::after {
    content: '/';
}

.breadcrumbs__item:last-child::after {
    display: none;
} 

.breadcrumbs__item:last-child {
    color: #B87EF1;
}

.breadcrumbs__link {
    color: inherit;
    font-size: 16px;
    line-height: 19px;
}

.article {
    padding-bottom: 386px;
}

.article__title{
   max-width: 661px; 
}

.article__item-right,
.article__item-left {
    width: 560px;
    position: relative;
}

.article__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    gap: 30px;
}

.article__text {
    padding-bottom: 20px;
}

.article__item-right::after {
    content: '';
    position: absolute;
    background-image: url(../images/decor-news.png);
    width: 616px;
    height: 586px;
    top: -410px;
    right: -720px;
    z-index: -1;
}

.article__item-left::after {
    content: '';
    position: absolute;
    background-image: url(../images/decor-news.png);
    width: 616px;
    height: 586px;
    bottom: -360px;
    right: 870px;
    z-index: -1;
}

/* MEDIA */

@media (max-width: 1400px) {
    .article__item-right::after,
    .article__item-left::after {
        display: none;
    }
}

@media (max-width: 1200px) {
    .title__top {
        font-size: 50px;
        line-height: 60px;
    }
    .title {
        text-align: center;
    }
    .news__inner {
        grid-template-columns: repeat(2, 1fr);
    }
    .about__inner {
        justify-content: center;
    }
    .about__name {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 44px;
    }
    .article {
        padding-bottom: 70px;
    }
    .article__title {
        max-width: 100%;
        margin-bottom: 40px;
    }
    .article__item {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    .article__item-right, 
    .article__item-left,
    .article__img-box,
    .article__img {
        width: 100%;
    }
    .text-left {
        order: -1;
    } 
    .first__inner {
        flex-direction: column;
        align-items: center;
    }
    .title__top {
        margin-top: 0;
    }
    .about {
        padding: 20px 0;
    }
    .breadcrumbs__inner {
        padding: 20px 0;
    }
}

@media (max-width: 768px) {
    .title__top {
        font-size: 32px;
        line-height: 42px;
    }
    .news__inner {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 480px) {
    .header__inner {
        display: block;
    }
    .logo__img {
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .article__title {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .first {
        padding: 50px 0;
    }
}

@media (max-width: 375px) {
    .menu__item + .menu__item {
        margin-left: 40px;
    }
    .title__top {
        font-size: 24px;
        line-height: 34px;
    }
}
    